


body {
    font-family: 'Georgia', serif;
    margin: 0;
    padding: 0;
    background-color: #fff0f5; /* Ljusrosa bakgrund */
    color: #4a4a4a;
  }
.container {
    display: grid;
    grid-template-rows: auto;
    gap: 20px;
    max-width: 800px;
    margin: auto;
    padding: 20px;
    background-color: #ffffff; /* Vitt innehållsområde */
    border: 1px solid #ffc0cb; /* Rosa ram */
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  }  

  header {
    text-align: center;
    font-family: 'Cursive', serif; /* Skrivstil */
  }


header h1 {

    color: #ffc0cb; /*rosa rubrik*/
    font-size: 2.5em;
    margin-bottom: 5px;
    
}
section h2 {
    color: d87093; /*lite mörkare rosa*/
    border-bottom: 2px solid #ffc0cb;
    padding-bottom: 5px;

}

.image img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    border: 1px solid #ffc0cb;
}

ul {
    list-style-type: square;
    padding-left: 20px;
}
ol {
    padding-left: 20px;
  }
  
  footer {
    text-align: center;
    margin-top: 20px;
  }
  
  footer a {
    color: #ff69b4;
    text-decoration: none;
  }
  
  footer a:hover {
    text-decoration: underline;
  }
  
  /* Responsiv design */
  @media (max-width: 768px) {
    .container {
      padding: 10px;
    }
  
    header h1 {
      font-size: 2em;
    }
  
    header p {
      font-size: 1em;
    }
}
    section h2 {
        font-size: 1.2em;
    }





  







